{"filter":false,"title":"web.config","tooltip":"/cms/public/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":15,"column":35},"end":{"row":15,"column":35},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1564488922087,"hash":"a74db3869daa64568f2c44afe2a008631109a5c4"}